body{
    display: flex;
    background-color: rgb(255, 249, 249);
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: "Audiowide", sans-serif;
}
.container{
    display:flex;
    background-color: rgb(115, 124, 168);
    border: groove;
    padding: 20px;
    align-self: center;
    border-radius: 40px;
    font-family: "Audiowide", sans-serif;
}

#res{
    width: 100%;
    height: 70px;
    font-size: 30px;
    text-align-last:right ;
    border: transparent;
    font-family: 'digital7-rg1ml-webfont.woff2';

}

td{
    padding: 10px;
}

.btn{
    border-radius: 20px;
    background-color: #000000;
    font-size: 70px;
    color: aliceblue;
    height: 80px;
    width: 80px;
    text-align: center;
    align-self: center;
    border: transparent;
    opacity: 1;
    }

.button{
    border-radius: 20px;
    background-color: #0c52a1;
    font-size: 70px;
    color: aliceblue;
    height: 80px;
    width: 80px;
    text-align: center;
    align-self: center;
    border: transparent;
    opacity: 1;
} 

.button:hover{
    background-color: #2b62a0;
}

.btn-clear{
    color: rgb(251, 252, 251);
    border-radius: 20px;
    background-color: #bd1d1d;
    font-size: 70px;
    height: 80px;
    width: 80px;
    text-align: center;
    align-self: center;
    border: transparent;
    opacity: 1;
}  

.btn-calculate{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #258512;
    font-size: 70px;
    height: 80px;
    width: 80px;
    text-align: center;
    align-self: center;
    border: transparent;
    opacity: 1;
}

.btn:hover{
    background-color: rgb(190, 190, 190);
    color: black;
}

.btn-clear:hover{
    background-color:rgb(207, 58, 58);

}

.btn-calculate:hover{
    background-color: #54a145;
}